body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #27292c;
  color: whitesmoke;
  margin: 0;
}

h1 {
  font-size: 22.5px;
  color: #61dafb;
  font-weight: 700;
}

header {
  background-color: #21222A;
  height: 17.5vh;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  margin-left: 2em;
  margin-right: 6px;
  width: 40px;
}

main {
  background-image: url('./assets/reactjs-icon-2.png');
  background-repeat: no-repeat;
  background-position: right;
}

.background {
  position: absolute;
  height: 263px;
  top: 0;
  right: 0;
  z-index: -1;
}

h2 {
  font-size: 40px;
  margin-left: 27px;
}

li::marker {
  color: #61dafb;
  font-size: 1.5em;
}

li {
  margin-left: 3em;
}